[submodule "rosplan_dependencies/VAL"]
	path = rosplan_dependencies/VAL
	url = https://github.com/KCL-Planning/VAL.git
[submodule "rosplan_dependencies/rddl_parser"]
	path = rosplan_dependencies/rddl_parser
	url = git@github.com:gerardcanal/rddl_parser.git
[submodule "rosplan_dependencies/rddlsim"]
	path = rosplan_dependencies/rddlsim
	url = https://github.com/ssanner/rddlsim.git
	ignore = dirty
