<launch>

	<!--
	<param name="/rosplan/domain_path" value="$(find rosplan_config)/planner/domain.pddl" />
	 -->

    <!-- planning system -->
	<param name="/rosplan/data_path" value="$(find rosplan_config)/planner/" />
	<param name="/rosplan/problem_path" value="$(find rosplan_config)/planner/problem.pddl" />
	<param name="/rosplan/planner_command" value="timeout 10 $(find rosplan_config)/planner/bin/popf -n DOMAIN PROBLEM" />

	<!-- planner -->
	<param name="/rosplan/planner_path" value="$(find rosplan_config)/planner/bin/" />
	<param name="/rosplan/data_path" value="$(find rosplan_config)/planner/" />
	<param name="/rosplan/problem_path" value="$(find rosplan_config)/planner/problem.pddl" />
	<param name="/rosplan/strl_file_path" value="$(find rosplan_config)/planner/plan.strl" />
	<param name="/rosplan/planner_command" value="timeout 10 $(find rosplan_config)/planner/bin/popf -n DOMAIN PROBLEM" />

	<!-- scene database (MongoDB) -->
	<!--
    <param name="/rosplan/database_path" value="$(find rosplan_config)/knowledge_base/mongoDB" />
	-->

</launch>
