<library path="src">
  <class name="ROSPlanDispatcher" type="rosplan_rqt.dispatcher.ROSPlanDispatcher" base_class_type="rqt_gui_py::Plugin">
    <description>
      Information on the current plan, actions and dispatch state in ROSPlan.
    </description>
    <qtgui>
      <group>
        <icon type="theme">folder</icon>
        <label>ROSPlan</label>
        <statustip>Plugins related to the ROSPlan PDDL planning system.</statustip>
      </group>
      <label>ROSPlan dispatcher</label>
      <icon type="theme">applications-science</icon>
      <statustip>ROSPlan dispatch info pane.</statustip>
    </qtgui>
  </class>
</library>
