<!-- ROSPlan sparus demo; requires cola2 control and simulation from https://bitbucket.org/udg_cirs -->
<launch>

	<!-- ROSPlan planning system -->
	<include file="$(find rosplan_planning_system)/launch/planning_system_knowledge.launch" >
	</include>


	<!-- ROSPlan interfaces -->
	<param name="waypoint_file" value="$(find rosplan_demos)/scripts/waypoints.txt" />
	<node name="rosplan_interface_mapping" pkg="rosplan_interface_mapping" type="rpsimplemapServer" respawn="false" output="screen">
		<param name="fixed_frame" value="world" />
	</node>
	<node name="rosplan_interface_cola2" pkg="rosplan_interface_cola2" type="rpcola2" respawn="false" output="screen">
		<param name="goto_server" value="/absolute_movement" />
	</node>

</launch>
