<!-- ROSPlan turtlebot demo; requires turtlebot_gazebo -->
<launch>

	<!-- turtlebot simulation -->
	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
	</include>
	<include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch" >
	</include>

	<!-- visualisation -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosplan_demos)/rviz/turtlebot.rviz">
	</node>

	<!-- ROSPlan -->
	<include file="$(find rosplan_planning_system)/launch/interfaced_planning_system.launch" >
		<arg name="domain_path"		value="$(find rosplan_demos)/common/domain_turtlebot_demo.pddl" />
	</include>

	<!-- roadmap -->
	<include file="$(find rosplan_interface_mapping)/launch/rosplan_roadmap_server.launch" />

	<!-- movebase interface -->
	<node name="rosplan_interface_movebase" pkg="rosplan_interface_movebase" type="rpmovebase" respawn="false" output="log">
		<param name="action_server" value="/move_base" />
		<param name="pddl_action_name" value="goto_waypoint" />
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
		<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
	</node>

</launch>
