		<section class="sidebar">

			<ul>
				<li style="text-align: center"><strong>Main</strong></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/">Documentation Home</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/overview.html">ROSPlan Overview</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/topics.html">List of Topics</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/services.html">List of Services</a></li>
			</ul>

			<ul>
				<li style="text-align: center"><strong>Planning System</strong></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/planning_system_launch.html">Launching the Planning System</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/planning_system_use.html">Using the Planning System</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/planning_system_problem.html">Generating a Problem Instance</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/planning_system_plans.html">Plan Representations</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/planning_system_dispatch.html">Plan Dispatch and Execution</a></li>
			</ul>

			<ul>
				<li style="text-align: center"><strong>Knowledge Base</strong></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/knowledge_base_launch.html">Launching the KMS</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/knowledge_base_use.html">Using the KMS</a></li>
			</ul>

			<ul>
				<li style="text-align: center"><strong>Working with ROSPlan</strong></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/replace_planner.html">Replacing the planner</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/replace_problem.html">Replacing the problem generation</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/replace_dispatch.html">Replacing the plan dispatch</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/add_action.html">Adding an action executive</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/documentation/add_state.html">Adding state estimation</a></li>
			</ul>

			<ul>
				<li style="text-align: center"><strong>Links</strong></li>
				<li><a href="https://github.com/KCL-Planning/ROSPlan_interface_Turtlebot2">Interface for Turtlebot2</a></li>
				<li><a href="https://github.com/KCL-Planning/ROSPlan_interface_COLA2">Interface for COLA2</a></li>
				<li><a href="https://github.com/fairf4x/ROSPlan_interface_quadrotor">Interface for hector_quadrotor</a></li>
			</ul>

		</section>
