		<section class="sidebar">

			<ul>
				<li style="text-align: center"><strong>Demonstrations</strong></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/demonstration">Home</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/demonstration/komodo.html">Komodo</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/demonstration/pandora2.html">Girona 500 AUV</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/demonstration/pandora.html">Nessie AUV</a></li>
				<li><a href="http://kcl-planning.github.io/ROSPlan/demonstration/squirrel.html">SQUIRREL</a></li>
			</ul>

		</section>
