		<section class="sidebar">

			<ul>
				<li style="text-align: center"><strong>Main</strong></li>
				<li><a href="http://localhost:4000/rosplan/documentation/">Documentation Home</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/overview.html">ROSPlan Overview</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/topics.html">List of Topics</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/services.html">List of Services</a></li>
			</ul>

			<ul>
				<li style="text-align: center"><strong>Planning System</strong></li>
				<li><a href="http://localhost:4000/rosplan/documentation/planning_system_launch.html">Launching the Planning System</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/planning_system_use.html">Using the Planning System</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/planning_system_problem.html">Generating a Problem Instance</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/planning_system_plans.html">Plan Representations</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/planning_system_dispatch.html">Plan Dispatch and Execution</a></li>
			</ul>

			<ul>
				<li style="text-align: center"><strong>Knowledge Base</strong></li>
				<li><a href="http://localhost:4000/rosplan/documentation/knowledge_base_launch.html">Launching the Knowledge Base</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/knowledge_base_use.html">Using the Knowledge Base</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/knowledge_base_domain.html">Fetching Domain Details</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/knowledge_base_problem.html">Fetching Problem Instance</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/knowledge_base_adding.html">Adding to the Knowledge Base</a></li>
			</ul>

			<ul>
				<li style="text-align: center"><strong>Working with ROSPlan</strong></li>
				<li><a href="http://localhost:4000/rosplan/documentation/replace_planner.html">Replacing the planner</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/replace_problem.html">Replacing the problem generation</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/replace_dispatch.html">Replacing the plan dispatch</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/add_action.html">Adding an action</a></li>
				<li><a href="http://localhost:4000/rosplan/documentation/add_state.html">Adding state estimation</a></li>
			</ul>

			<ul>
				<li style="text-align: center"><strong>Links</strong></li>
				<li><a href="https://github.com/KCL-Planning/ROSPlan_interface_Turtlebot2">Interface for Turtlebot2</a></li>
				<li><a href="https://github.com/KCL-Planning/ROSPlan_interface_COLA2">Interface for COLA2</a></li>
				<li><a href="https://github.com/fairf4x/ROSPlan_interface_quadrotor">Interface for hector_quadrotor</a></li>
				<li>Please <a href="http://localhost:4000/rosplan/contact.html">contact</a> us if you have a link to add.</li>
			</ul>

		</section>
