---
layout: default
---

<h2>What is ROSPlan?</h2>
  
    <p>The ROSPlan framework provides a collection of tools for AI Planning in a ROS system. ROSPlan has a variety of nodes which encapsulate planning, problem generation, and plan execution. It possesses a simple interface, and links to common ROS libraries.</p>
    <p><strong>What is it for?</strong></p>
    <p>ROSPlan has a modular design, intended to be modified. It serves as a framework to test new modules with minimal effort. Alternate approaches to state estimation, plan representation, dispatch and execution can be tested without having to write an entire framework.</p>
    <p><strong>Where to start?</strong></p>
    <p>The <a href="documentation">documentation</a> gives a full description of the system, including  <strong>tutorials</strong> that provides a step-by-step introduction to each node, and instructions on combining them into a complete system.</p>

<div style="float:left; width:65%; padding: 0.5rem 1rem; border: 1px solid rgba(0, 0, 0, 0.2);">

    {{ content }}

</div>

<a class="twitter-timeline" data-width="30%" data-height="400px" data-theme="light" href="https://twitter.com/ros_plan?ref_src=twsrc%5Etfw" style="width:30%">Tweets by ROSPlan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

