<?xml version="1.0"?>
<launch>

	<!-- arguments -->
	<arg name="node_name"        default="rosplan_parsing_interface" />
	<arg name="knowledge_base"   default="rosplan_knowledge_base" />
	<arg name="epsilon_time"     default="0.01" />
	<arg name="planner_topic"    default="/rosplan_planner_interface/planner_output" />
	<arg name="plan_topic"       default="complete_plan" />


	<!-- plan parsing (by default is set to esterel parser, NOTE: simple parser also available) -->
	<node name="$(arg node_name)" pkg="rosplan_planning_system" type="pddl_esterel_plan_parser" respawn="false" output="screen">
		<param name="knowledge_base" value="$(arg knowledge_base)" />
    	<param name="epsilon_time"   value="$(arg epsilon_time)" />
		<param name="planner_topic"  value="$(arg planner_topic)" />
		<param name="plan_topic"     value="$(arg plan_topic)" />
	</node>

</launch>
