<?xml version="1.0"?>
<launch>

        <!-- arguments -->
        <arg name="node_name"          default="rosplan_STN_tool" />
        <arg name="plan_topic"         default="/rosplan_parsing_interface/complete_plan" />
        <arg name="robust_plan_topic"  default="robust_plan" />
        <arg name="robust_domain_path" default="" />
        <arg name="problem_path"       default="" />
        <arg name="max_parameters"     default="1" />
        <arg name="stn_timeout"     default="60" />

        <!-- STN tool -->
        <node name="$(arg node_name)" pkg="rosplan_planning_system" type="STN_tool.py" respawn="false" output="screen">

                <param name="max_parameters" value="$(arg max_parameters)" />
                <param name="stn_timeout" value="$(arg stn_timeout)" />

                <!-- the input esterel plan topic (and STN graph) -->
                <param name="plan_topic" value="$(arg plan_topic)" />

                <!-- the output robust esterel plan topic -->
                <param name="robust_plan_topic" value="$(arg robust_plan_topic)" />

                <!-- paths to files used by the STN tool -->
                <param name="robust_domain_path" value="$(arg robust_domain_path)" />
                <param name="problem_path" value="$(arg problem_path)" />
        </node>

</launch>

