<launch>
	<arg name="domain_path" default="$(find rosplan_planning_system)/common/domain.pddl" />
	<arg name="persistent" default="false" />
	<arg name="db_host" default="localhost" />
        <arg name="db_port" default="62345" />
        <arg name="db_name" default="kcl_knowledge_base" />
	<param name="/rosplan/domain_path" value="$(arg domain_path)"/>
	<param name="/rosplan/knowledge_base/persistent" value="$(arg persistent)"/>
	<param name="/rosplan/db_host" value="$(arg db_host)"/>
        <param name="/rosplan/db_port" value="$(arg db_port)"/>
	<param name="/rosplan/knowledge_base/db_name" value="$(arg db_name)"/>

	<!-- knowledge base -->
	<node name="rosplan_knowledge_base" pkg="rosplan_knowledge_base" type="knowledgeBase" respawn="false" output="screen">
	</node>

	<!-- scene database (MongoDB)
	<node name="rosplan_scene_base" pkg="mongodb_store" type="mongodb_server.py" respawn="false" output="screen">
	    <param name="database_path" value="$(find rosplan_config)/knowledge_base/mongoDB" />
	</node>
	<node name="rosplan_scene_message_store" pkg="mongodb_store" type="message_store_node.py" respawn="false" output="screen">
	</node -->

</launch>
